*.csv
*.tsv
*.psv
*.xlsx
otrs_time_accounting_data.json
*.o
*.log
*log.txt
.vs/
.odbc.ini
Debug/
Release/
log/
x64/
test/
*.vcx*
*.sln
wtf.txt
docs/linux.png
docs/windows.png
docs/mariadb.png
docs/postgresql.png
docs/sqlserver.png
docs/oracle.png
docs/mysql.png
docs/odbc.png
docs/DWH_Project.md